.face-page {
  background: $black;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.whatsapp{
  align-items: center;
  border-radius: 50%;
  border: 2px solid $white;
  display: flex;
  height: 28rem;
  width: 28rem;
  justify-content: center;
  margin: 4rem auto;
  cursor: pointer;
}
