.top-bar {
  background: transparent !important;
}


.menu{
  background: transparent !important;
  font-weight: bold;
  > li {
      color: chartreuse;
      font-size: 1.1rem;
      letter-spacing: .2rem;
      cursor: pointer;
  }
}
